div{
	background-image: url("https://cdn.wallpapersafari.com/87/72/0LKgOf.jpg");
	margin: 50px;
	width: 350px;
	height: 550px;
	margin: 0 auto;			/* horizontally centreing an element */
	border-radius: 20px;
  padding: 10px;
  border: 2px solid rgba(128, 0, 128, 0.644);
  margin-top: 10%;
}

header{
	background-color: #d492ec;
	width: 330px;
	height: 50px;
	border-radius: 20px;
	margin: 0 auto;	
	font-size: xx-large;
	color: #000000;
	text-align: center;
  margin-top: 5%;
}

table {
  font-family: 'Syne Mono', monospace;
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 10%;
	margin-right: 10px;
	margin-left: 10px;
  border-radius: 20px;
  border: 2px solid purple;
}
table img {
  width: 80px;
}
td{
	width: 110px;
	height: 60px;
	text-align: center;
	font-size: xx-large;

}

.orange{
  color: #8e1caa;
  font-weight: bolder;
}

td:active{
	background-color: #e0e0d1;
	border-radius: 20px;
}